  <%- include('partials/header') -%>
<main class="manrope-regular">
    <!---hero-->  
  <div class="container-fluid bg-img d-flex justify-content-center align-items-center p-4 min-vh-100 text-white flex-column row-gap-4">
    <h1 class="hedvig-letters-serif-header text-white display-3 ">Experience Divine Nails</h1>
    <span class="fs-5">Indulge in Luxury Nail Care</span>
    <button class="btn btn-lg btn-light"><a class="text-white text-decoration-none" href="/booking">Book now</a></button>

  </div>

  <!--stat list-->
  <div class="container-fluid d-flex justify-content-center align-items-center p-4 min-vh-50">
    <div class="d-flex flex-row gap column-gap-3">
      <div class="d-flex flex-column row-gap-2 text-center p-5">
        <h3 class="hedvig-letters-serif-header fs-2 ">100% Natural</h3>
        <span class="">We priortize the best products in the market</span>
      </div>
      <div class="d-flex flex-column row-gap-2 text-center p-5">
        <h3 class="hedvig-letters-serif-header fs-2 text-wrap">40 Techs</h3>
        <span>Our professional techs are provide quality and friendly service</span>
      </div>
      <div class="d-flex flex-column row-gap-2 text-center p-5 ">
        <h3 class="hedvig-letters-serif-header fs-2 ">200+</h3>
        <span class="text-wrap"> Hundreds of trendy nail colors and styles to try!</span>
      </div>
    
    </div>

  </div>
<!--img info list-->
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center p-4 min-vh-50">
    <h3 class="align-self-start">Our Services</h3>
    <div class="d-flex flex-column gap column-gap-5 flex-lg-row flex-md-row">
      <div class="d-flex flex-column row-gap-2 ">
        <a href="/services">
          <img src="../images/nails/main-treatment.jpg" class="rounded mx-auto d-block mw-100"  width="330px" height="350" alt="">
        </a>
        <h3>Nail Treatments</h3>
      </div>
      <div class="d-flex flex-column row-gap-2 ">
        <a href="/services">
          <img src="../images/nails/main-mp.jpg" class="rounded mx-auto d-block mw-100 "  width="330px"  height="350"  alt="">
        </a>
        <h3>Manicures & Pedicures</h3>
      </div>
      <div class="d-flex flex-column row-gap-2 ">
        <a href="/services">
          <img src="../images/nails/main-wax.jpg" class="rounded mx-auto d-block mw-100"  width="330px" height="350" alt="">
        </a>
        <h3>Expert Waxing Services</h3>
      </div>
    </div>

  </div>
  
  <!--action info-->
  <div class="container-fluid d-flex --bs-tertiary-color-rgb column-gap-3 flex-column flex-md-row" >
    <img src="../images/nails/main-unwind.jpg" class="rounded-4" width="450px" height="360px" alt="">
    <div class="d-inline-flex flex-column p-4 d-md-block">
      <h6>Relax. Relate. Release.</h6>
      <h3>Unwind in Luxury</h3>
      <p>
        At Divine Nails and Spa, we offer a luxurious sanctuary for all your nail care and beauty needs. Our skilled professionals provide top-tier services in a tranquil and inviting atmosphere, ensuring that every guest experiences the ultimate in relaxation and rejuvenation.
      </p>
      <button class=" btn btn-primary rounded-4 text-white"><a class="text-decoration-none text-white" href="/booking">Experience Blissful Pampering</a></button>
    </div>
  </div>

    </main>

    <%- include('partials/footer') -%>
