<%- include('partials/header') -%>

<div class="container d-flex flex-row justify-content-center align-items-center column-gap-5 p-4 flex-column flex-sm-row">
  <div class="">
    <img class="" src="../images/nails/pricing.png" width="300" alt="">
  </div>
  <div>
    <h1 class="hedvig-letters-serif-header">Nail Care Excellence</h1>
    <p>At divine nails and spa, we take pride in providing top-notch nail care services, ensuring that each treatment is tailored to your unique needs and preferences.
   
      Experience the ultimate in nail care and indulge in the luxury of our spa services at divine nails and spa.</p>
    <button class="btn btn-primary"><a href="/booking" class="text-white text-decoration-none">Book Now</a></button>
  </div>
</div>
<!--   Our skilled technicians are committed to using the highest quality products and techniques to ensure that your nails not only look stunning but remain healthy and strong. Whether youʼre looking for a classic manicure, a bold acrylic set, or a relaxing spa pedicure, we go above and beyond to deliver exceptional results that exceed your expectations. -->

  <%- include('partials/footer') -%>