// Include any default variable overrides here (though functions won't be available)
$primary: #2A6F6B;
$secondary: #E5A58A;
$light: #87C38F;
$warning: #D3C85F;
$dark: #2A1A1F;
$success: #87C38F;

@import "../node_modules/bootstrap/scss/bootstrap";



